.AboutMe {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  color: white;
  height: 100vh;
}

.AboutMe h1 {
  color: darkgray
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
  width: 60%;
}

h4 {
  letter-spacing: 2px;
  font-size: 20px;
}

.right {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.myPicture {
  margin-top: 30%;
  border: 3px solid rgb(165, 3, 187);
  border-radius: 55%;
  width: 300px;
  box-shadow: 0 0 30px purple;
}

/* Badge css */
.project__skills {
  display: flex;
  width: 70%;
  justify-content: space-around;
  flex-wrap: wrap;
}

.npm {
  width: 60px;
  background-color: red;
  border-radius: 30px;
}

.iconBackground {
  background-color: white;
  border-radius: 30px;
}

.smallIcons {
  width: 60px;
}

@media (max-width: 320px) {
  .AboutMe {
    flex-direction: column-reverse;
    height: fit-content;
    width: fit-content;
  }

  .left {
    width: 90%;
  }

  .left > h1 {
    font-size: 70px;
    margin: 0;
  }

  .myPicture {
    width: 200px;
    margin-top: 10%;
    margin-left: 20%;
  }
}

@media (max-width: 480px) {
  .AboutMe {
    flex-direction: column-reverse;
    height: fit-content;
    width: fit-content;
  }

  .left {
    width: 90%;
  }

  .left > h1 {
    font-size: 70px;
    margin: 0;
  }

  .myPicture {
    width: 200px;
    margin-top: 10%;
    margin-left: 22%;
  }
}

@media (max-width: 768px) {
  .AboutMe {
    flex-direction: column-reverse;
    height: fit-content;
    width: fit-content;
  }

  .left {
    width: 90%;
  }

  .left > h1 {
    font-size: 70px;
    margin: 0;
    text-align: center;
  }

  .left > h4 {
    text-align: center;
  }

  .myPicture {
    width: 250px;
    margin-top: 10%;
  }
}

@media (max-width: 812px) {
  .AboutMe {
    flex-direction: column-reverse;
    height: fit-content;
    width: fit-content;
  }

  .left {
    width: 88%;
  }

  .left > h1 {
    font-size: 70px;
    margin: 0;
    text-align: center;
  }

  .left > h4 {
    text-align: center;
    font-size: 15px;
  }

  .myPicture {
    width: 200px;
    margin-top: 20%;
  }
}
