.contactMe {
    color: white;
    width: 100%;
    background-color: black;
    margin-bottom: 5%;
}

.contact__header {
    margin-left: 7%;
}

.contact__form {
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    margin-top: 10px;
    padding: 20px;
    width: 60%;
    background:  black;
    border: 3px solid rgb(165, 3, 187);
    box-shadow: 0 0 100px purple;
    margin-left: auto;
    margin-right: auto;
    
}

.contact__information {
    display: flex;
    flex: 0.3;
    padding: 20px;
    flex-direction: column;
}

.contact__line {
    width: 100%;
}

.contact__links {
    margin-top: 10px;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
}

.MuiSvgIcon-root {
    font-size: 70px !important;
}

.contact__links :nth-child(1):hover {
    color: blueviolet;
}

form {
    flex: 0.6;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 70%;
}

textarea {
    height: 200px;
    width: 90%;
    max-width: 90%;
    border-radius: 20px;
    padding: 10px;
    background-color: lightgray;
    outline: none;
}

input {
    width: 60%;
    height: 30px;
    max-width: 90%;
    border-radius: 20px;
    padding: 10px;
    background-color: lightgray;
    outline: none;
}

.submitBtn {
    width: 40%;
    margin-left: 30%;
}

/* footer section */
.footer__logo {
    display: flex;
    justify-content: center;
    
}

.logo {
    width: 70px;
}

.footer {
    margin-top: 30px;
    width: 100%;
    text-align: center;
}
.footer__content > p {
    
    font-size: 15px;
}

@media (max-width: 480px) {

    .contactMe {
        height: 100%;
    }
    .contact__header {
        font-size: 70px;
    }

    .contact__form {
        padding: 0;
        width: 90%;
        flex-direction: column;
    }

    .contact__form > hr {
        width: 90%;
    }

    form {
        text-align: center;
        margin-left: 10%;
    }
    form > input {
        width: 100%;
    }

    .submitBtn {
        width: 80%;
        margin-left: 10%;
        padding-left: 20%;
    }
}

@media (max-width: 768px) {

    .contactMe {
        height: 100%;
        width: 100%;
    }
    .contact__header {
        font-size: 70px;
        text-align: center;
    }

    .contact__form {
        padding: 0;
        width: 90%;
        flex-direction: column;
    }

    .contact__information > h2 {
        text-align: center;
    }

    .contact__form > hr {
        width: 90%;
    }

    form {
        text-align: center;
        margin-left: 10%;
    }
    form > input {
        width: 100%;
    }

    .submitBtn {
        width: 60%;
        margin-left: 20%;
        padding-left: 8%;
    }
}

@media (max-width: 812px) {

    .contactMe {
        height: fit-content;
        margin-top: 0;
        
        
    }
    .contact__header {
        font-size: 60px;
        margin-left: 0;
    }

    .contact__form {
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
    }

    .contact__information > h2 {
        text-align: center;
    }

    .contact__form > hr {
        width: 90%;
    }

    form {
        text-align: center;
    }
    form > input {
        width: 100%;
    }

    .submitBtn {
        width: 60%;
        margin-left: 20%;
        padding-left: 8%;
    }
}